#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Run FNV MCM Unpacker
Exec=curl https://raw.githubusercontent.com/STBoyden/newvegas-linux-mcm-extractor/main/scripts/install.sh | bash -s --
Icon=steamdeck-gaming-return
Terminal=true
Type=Application
StartupNotify=false
